* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

header {
  position: relative;
  left: 80px;
  width: 90%;
  height: 70px;
  border-bottom: 1px solid #fff;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  box-sizing: border-box;
}
header nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 28px;
  box-sizing: border-box;
}
header nav ul a:hover {
  color: #000000;
  font-weight: 700;
}
header nav ul a li {
  margin: 20px;
  transition: 0.5s linear;
}
.intro {
  height: 400px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px 40px 10vw;
  color: #fff;
  letter-spacing: 4px;
  font-size: 20px;
  position: relative;
  top: 70px;
}
.svgtext {
  font-size: 50px;
  position: relative;
}
.intro .content h1 {
  font-size: 1.8em;
}
.intro .content div {
  color: rgb(255, 0, 0);
  font-size: 2em;
  font-weight: 900;
}
.intro .content p {
  display: none;
}
.animated-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px auto;
  border-radius: 1px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border: 2px solid #fff;
  opacity: 0;
  animation: fade 0.2s ease-in 1.5s forwards;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.9),
    3px 3px 5px rgba(0, 0, 0, 0.05);
  top: -50px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animated-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff7700;
  border-radius: 0px;
  outline: none;
  z-index: -2;
}
.animated-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(4, 247, 255);
  transition: all 0.3s;
  border-radius: 0px;
  z-index: -1;
}
.animated-button:hover {
  color: #000;
  border: 2px solid #000;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.9),
    3px 3px 5px rgba(255, 255, 255, 0.05);
  outline: none;
}
.animated-button:hover:before {
  width: 100%;
}

.image {
  height: 300px;
  width: 300px;
  /* animation: upward 3s ease-in 0s forwards; */
  /* opacity: 0; */
}
@keyframes upward {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.arrow {
  position: relative;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00e1ff;
  text-decoration: none;
  animation: pointer 2.5s linear infinite, opac 0.2s linear 2s forwards;
  background: none;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes pointer {
  0% {
    top: 0;
  }
  20% {
    top: 10px;
  }
  40% {
    top: 8px;
  }
  60% {
    top: 15px;
  }
  80% {
    top: 13px;
  }
  100% {
    top: 0;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  margin-top: 150px;
  background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
}
.svg2 {
  position: relative;
  left: 0;
  top: -100px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.text {
  font-size: 60px;
  letter-spacing: 8px;
  margin: 30px 0px 0 0px;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.2s linear;
}
.text-line {
  width: 100px;
  height: 5px;
  background: rgb(255, 255, 255);
  margin-top: 5px;
  transition: all 0.2s linear;
}
.about-text-container:hover .text-line {
  width: 270px;
  transition: width 0.2s linear;
}
.about-text-container {
  position: relative;
  top: -80px;
}
.about-container .qualities {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  color: #ffffff;
  max-width: 90%;
}
.about-container .quality {
  height: 300px;
  width: 300px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-container .qualities .quality img {
  height: 80px;
  width: 80px;
  /* animation: shake 2s linear infinite; */
}
.quality:nth-child(1):hover img {
  animation: shake 2s linear;
  animation-iteration-count: 4;
}
.quality:nth-child(2):hover img {
  animation: scaling 2s linear;
  animation-iteration-count: 4;
}
.quality:nth-child(3):hover img {
  animation: shakeY 2s linear;
  animation-iteration-count: 4;
}
.quality:nth-child(4):hover img {
  animation: rotation 2s linear;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0.5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes shakeY {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.about-container .qualities .quality h3 {
  font-weight: normal;
  padding: 10px;
}
.about-container .qualities .quality p {
  text-align: center;
  max-width: 250px;
}
.hexagon {
  position: relative;
  width: 140px;
  height: 66.6px;
  background-color: #64c7cc;
  margin: 43.3px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 43.3px solid #64c7cc;
}

.hexagon:after {
  top: 100%;
  right: 0%;
  width: 0;
  border-top: 43.3px solid #64c7cc;
}
.hexagon img {
  position: relative;
  left: 30px;
  bottom: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
  max-width: 80%;
  text-align: center;
}
.about h3 {
  margin: 10px;
}
.about p {
  letter-spacing: 1px;
  max-width: 80%;
}
.aboutimage {
  width: 300px;
}
.aboutimage:hover {
  animation: hue 10s linear infinite;
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
  background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
}
.text-container:hover .text-line {
  width: 270px;
  transition: width 0.2s linear;
}
.skills {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 50px;
}
.skill {
  margin: 20px 0;
  position: relative;
  width: 80vw;
}
.skill-type {
  color: #fff;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 80vw;
}
.outer-bar,
.inner-bar {
  height: 15px;
  border-radius: 10px;
}
.outer-bar {
  margin-top: 20px;
  background: #333;
}
.inner-bar {
  animation: fillBar 1s forwards 0s;
  transform: scaleX(0);
  transform-origin: 0 0;
}
.inner-bar span {
  position: relative;
  left: 100%;
  top: -3px;
  font-weight: 900;
  text-align: center;
  margin-left: 3px;
  opacity: 0;
  animation: opacity 0.05s forwards linear;
  animation-delay: 1s;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.inner-bar-90 {
  width: 90%;
  background: #f8a518;
  color: #f8a518;
}
.inner-bar-85 {
  width: 80%;
  background: rgb(3, 152, 238);
  color: rgb(3, 152, 238);
}
.inner-bar-75 {
  width: 75%;
  background: rgb(202, 3, 186);
  color: rgb(202, 3, 186);
}
.inner-bar-80 {
  width: 80%;
  background: rgb(120, 2, 238);
  color: rgb(120, 2, 238);
}
.inner-bar-60 {
  width: 60%;
  background: rgb(226, 211, 0);
  color: rgb(226, 211, 0);
}
.inner-bar-70 {
  width: 70%;
  background: rgb(22, 175, 2);
  color: rgb(22, 175, 2);
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
.workcontainer {
  position: relative;
  top: 0px;
  padding-bottom: 30px;
  width: 100%;
  background: linear-gradient(to right, rgb(248, 24, 99), rgb(53, 248, 4));
}
.svg1 {
  position: relative;
  left: 0;
  top: -80px;
}
.work-text-container {
  position: relative;
  top: -40px;
}
.workcontainer .work-text {
  text-align: center;
  padding-top: -20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  color: #ffffff;
  margin: auto 50px;
  max-width: 100%;
}
.project {
  box-sizing: border-box;
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 4px 2px;
  box-shadow: 6px -6px 5px rgba(0, 0, 0, 1), -6px -6px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: border-radius 1s ease-out;
  z-index: 1;
}
.project:nth-child(2) {
  box-shadow: -6px 6px 5px rgb(0, 0, 0);
}
.project:nth-child(4) {
  box-shadow: -6px 6px 5px rgb(0, 0, 0);
}
.project:nth-child(6) {
  box-shadow: -6px 6px 5px rgb(0, 0, 0);
}
.project:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  border-radius: 0px;
  z-index: -1;
}

.project:hover::before {
  height: 100%;
}
.project:nth-child(1):hover {
  border-radius: 200% 200% 200% 00%/ 200% 200% 200% 200%;
  box-shadow: inset -6px -6px 0px rgba(0, 0, 0, 1),
    inset -6px 6px 0px rgba(0, 0, 0, 0.5);
}
.project:nth-child(2):hover {
  border-radius: 200% 200% 200% 200%/ 200% 200% 200% 200%;
  box-shadow: inset -6px -6px 0px rgba(0, 0, 0, 1),
    inset 6px -6px 0px rgba(0, 0, 0, 0.5);
}
.project:nth-child(3):hover {
  border-radius: 200% 200% 00% 200%/ 200% 200% 200% 200%;
  box-shadow: inset 6px -6px 0px rgba(0, 0, 0, 1),
    inset 6px 6px 0px rgba(0, 0, 0, 0.5);
}
.project:nth-child(4):hover {
  border-radius: 200% 200% 200% 00%/ 200% 200% 200% 200%;
  box-shadow: inset -6px -6px 0px rgba(0, 0, 0, 1),
    inset -6px 6px 0px rgba(0, 0, 0, 0.5);
}
.project:nth-child(5):hover {
  border-radius: 200% 200% 200% 200%/ 200% 200% 200% 200%;
  box-shadow: inset -6px -6px 0px rgba(0, 0, 0, 1),
    inset 6px -6px 0px rgba(0, 0, 0, 0.5);
}
.project:nth-child(6):hover {
  border-radius: 200% 200% 00% 200%/ 200% 200% 200% 200%;
  box-shadow: inset 6px -6px 0px rgba(0, 0, 0, 1),
    inset 6px 6px 0px rgba(0, 0, 0, 0.5);
}
.projectimage {
  height: 120%;
  width: 100%;
  opacity: 1;
}
.project .content {
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -350px;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.3s ease-in 0.3s;
}
.project .content .title {
  font-size: 25px;
  padding: 20px;
  max-width: 340px;
  text-align: center;
  margin-top: -260px;
}
.project .content .technology {
  padding: 3px 5px;
  margin-bottom: 5px;
}
.project .content .description {
  font-size: 18px;
  padding-bottom: 15px;
  max-width: 350px;
  text-align: center;
}
.project .content button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: rgba(255, 8, 0, 0.794);
  color: white;
  outline: none;
  border: none;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.project .content button:active {
  transform: scale(0.8);
  transition: 0.3s all ease-in-out;
}
.button {
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transform: translateY(var(--y));
  transition: transform 0.44s ease, box-shadow 0.44s ease;
}
.button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 #fff;
}
.button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform 0.44s ease;
  transform: translateY(var(--m));
}
.button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.button:hover span {
  --m: calc(var(--font-size) * -1);
}
.button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.button.reverse:hover span {
  --m: calc(var(--font-size));
}
.blog-container {
  padding-bottom: 60px;
  width: 100%;
  background: linear-gradient(to right, rgb(248, 24, 99), rgb(53, 248, 4));
}
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 60px 0px 50px 10vw;
}
.blog {
  width: 500px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 4px 4px rgba(0, 0, 0, 1);
}
.blog span {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}
.blog:nth-child(1) span {
  background-image: url("./images/nodejs.png");
}
.blog:nth-child(2) span {
  background-image: url("./images/pythoncover1.png");
}
.blog span:nth-child(1) {
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}
.blog span:nth-child(2) {
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}
.blog span:nth-child(3) {
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}
.blog span:nth-child(4) {
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}
.blog:hover span {
  transform: translateY(-100%);
}
.blog:hover span:nth-child(1) {
  transition-delay: 0.6s;
}
.blog:hover span:nth-child(2) {
  transition-delay: 0.4s;
}
.blog:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
.blog:hover span:nth-child(4) {
  transition-delay: 0s;
}
.blog .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(100%);
  transition: all 1s linear 0.3s;
  color: #000;
}
.blog .content p {
  margin: 20px 0 30px;
  color: #000;
}
.blog .content a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border: 3px solid #000;
  transition: all 0.3s ease-in;
  font-weight: bolder;
}
.blog .content a:active {
  transform: scale(0.8);
  transition: 0.3s all ease-in-out;
}
.blog .content a:hover {
  color: #fff;
  background: #000;
  transition: all 0.3s ease-in;
}
.blog:hover .content {
  transform: translateY(0);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 50px;
}
.contact-text-container:hover .text-line {
  width: 350px;
  transition: width 0.2s linear;
}
.contact-container i {
  position: relative;
  top: -20px;
  font-size: 20px;
  padding: 12px 10px;
  color: #aa3333;
  background: #ffffff;
}
.contact-container .line {
  color: #ffffff;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
form {
  height: 420px;
  width: 60vw;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.6), 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.contact-container .inputs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}
.contact-container .inputs input {
  background-color: transparent;
  border: #ffffff 0.1px solid;
  padding: 4px 10px;
  outline: none;
  margin-left: 30px;
  width: 170px;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.contact-container .inputs .name-input {
  margin-left: 25px;
}
.contact-container .inputs input:focus {
  width: 200px;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in;
}
.contact-container .textareainput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-container .textareainput textarea {
  height: 160px;
  width: 50vw;
  margin: 10px 20px 0px;
  padding: 10px;
  color: white;
  font-size: 17px;
  outline: none;
  background-color: transparent;
  resize: none;
  border: 1px solid #ffffff;
}
.contact-container .submit {
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}
.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.onsubmit {
  width: 46vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #08a2b6;
  font-size: 15px;
  padding: 0px 10px;
  margin-top: -15px;
}

.onsubmit p {
  position: relative;
  float: right;
}
.onsubmit i {
  font-size: 20px;
  position: relative;
  top: 0px;
  background: transparent;
}
footer {
  width: 100%;
  background: #1b242f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 20px 0;
  color: #6b6b6b;
  letter-spacing: 1px;
}
.upwards {
  position: relative;
  font-size: 20px;
  padding: 10px;
  top: -60px;
  color: #1b242f;
  background: #ffffff;
  /* margin-bottom: 40px; */
}
footer .social-icons {
  position: relative;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-icons i {
  position: relative;
  font-size: 30px;
  margin: 10px;
  padding: 20px;
  background: #262f38;
  color: #ffffff;
  transition: 0.4s ease-out;
}
footer .social-icons a i:hover {
  color: #000000;
  background: #3cdce7;
  transform: scale(0.9);
  transition: 0.4s ease-out;
}
footer p {
  margin-top: 5px;
}
footer p span {
  color: #bb4141;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(255, 0, 0), #d3d923);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(#d3d923, #ff0000);
}

@media screen and (max-width: 865px) {
  header {
    width: 100%;
    left: 0;
    border-bottom: none;
  }
  .hamburger-conatiner {
    width: 100%;
    height: 70px;
  }
  .hamburger {
    position: absolute;
    float: right;
    right: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }
  .hamburger .line {
    position: absolute;
    height: 5px;
    width: 30px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.1s all linear 0.05s;
    animation: fall 0.5s linear;
  }
  @keyframes fall {
    from {
      transform: translateY(-700px);
    }
    to {
      transform: translateY(0px);
    }
  }
  .hamburger .line::before,
  .hamburger .line::after {
    content: "";
    position: absolute;
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.1s all linear 0.1s;
    right: 0px;
  }
  .hamburger .line::before {
    transform: translateY(-10px);
    width: 45px;
    animation: fall1 0.2s linear;
    animation-delay: 0.4s;
  }
  @keyframes fall1 {
    from {
      transform: translateY(-700px);
    }
    to {
      transform: translateY(-10px);
    }
  }
  .hamburger .line::after {
    transform: translateY(10px);
    width: 15px;
    animation-delay: 0s;
    animation: fall2 0.1s linear;
  }
  @keyframes fall2 {
    from {
      transform: translateY(-700px);
    }
    to {
      transform: translateY(10px);
    }
  }
  .hamburger.open .line {
    transform: translateX(10px);
    background: transparent;
  }
  .hamburger.open .line::before {
    transform: rotate(-45deg) translate(30px, 30px);
    width: 30px;
    right: 50px;
  }
  .hamburger.open .line::after {
    transform: rotate(45deg) translate(30px, -30px);
    width: 30px;
    right: 50px;
  }
  .nav-links.open {
    opacity: 1;
    transition: 0.7s all ease-in;
    clip-path: circle(800px at 50% 50%);
  }
  .nav-links {
    clip-path: circle(0px at 50% 50%);
    opacity: 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: -70px;
    height: 100vh;
    transition: 0.7s all ease-in-out;
    background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
    z-index: 1;
  }
  @keyframes lefttranslate {
    from {
      transform: translateX(-1000px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  .intro {
    width: 100%;
    font-size: 15px;
    margin: 40px 0px 40px 8vw;
    top: 0;
  }
  .intro .content h1 {
    font-size: 22px;
  }
  .intro .content div {
    font-size: 25px;
  }
  .svgtext {
    display: none;
  }
  .intro .content p {
    display: block;
  }
  .intro .content .btn {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #fff;
    top: 0;
  }
  .intro .content .btn:hover {
    border: 1px solid #000;
  }
  .about p {
    width: 100%;
  }
  .about-container .qualities {
    flex-direction: column;
  }
  .quality {
    margin-left: 10vw;
  }
  .inner-bar span {
    font-size: 13px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project {
    width: 320px;
    height: 300px;
    margin-bottom: 40px;
  }

  .project .content .technology {
    right: 0;
  }
  .project .content .description {
    max-width: 250px;
    font-size: 18px;
    left: 0;
  }
  .image {
    height: 200px;
    width: 200px;
  }
  .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 0;
  }
  .blog {
    width: 320px;
  }
  .blog:nth-child(1) span {
    background-image: url("./images/nodejs1.png");
  }
  .blog:nth-child(2) span {
    background-image: url("./images/pythoncover2.png");
  }
  form {
    height: 400px;
    width: 90vw;
  }
  .contact-container .textareainput textarea {
    height: 160px;
    width: 70vw;
  }
  .onsubmit {
    width: 65vw;
  }
  .onsubmit p {
    font-size: 13px;
  }
  .onsubmit i {
    font-size: 15px;
  }
  footer .social-icons i {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
  }
}
a {
  text-decoration: none;
}
