* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
header nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}
header nav ul a:hover {
  color: #000000;
  font-weight: 700;
}
header nav ul a li {
  margin: 20px;
  transition: 0.5s linear;
}
.intro {
  height: 400px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px 40px 10vw;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 20px;
}
.intro .content p {
  margin-top: 10px;
}
.intro .content span {
  color: rgb(255, 0, 0);
  font-size: 2em;
  font-weight: 900;
}
.intro .content .btn {
  padding: 10px 20px;
  margin: 30px 0 0 3px;
  background: transparent;
  outline: none;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 180% 200% 180% 200% / 10% 20% 10% 20%;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 2px;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.5),
    3px 3px 3px rgba(255, 255, 255, 0.1);
}
.image {
  height: 300px;
  width: 300px;
}
.arrow {
  position: relative;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00e1ff;
  text-decoration: none;
  animation: pointer 2.5s linear infinite;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes pointer {
  0% {
    top: 0;
  }
  20% {
    top: 10px;
  }
  40% {
    top: 8px;
  }
  60% {
    top: 15px;
  }
  80% {
    top: 13px;
  }
  100% {
    top: 0;
  }
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  margin-top: 150px;
  background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
}
.svg2 {
  position: relative;
  left: 0;
  top: -100px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.text {
  font-size: 60px;
  letter-spacing: 8px;
  margin: 30px 0px 0 0px;
  cursor: pointer;
  color: #ffffff;
}
.text-line {
  width: 100px;
  height: 5px;
  background: rgb(255, 255, 255);
  margin-top: 5px;
}
.about-text-container {
  position: relative;
  top: -80px;
}
.about-container .qualities {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  color: #ffffff;
  max-width: 90%;
}
.about-container .quality {
  height: 300px;
  width: 300px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-container .qualities .quality img {
  height: 80px;
  width: 80px;
}
.about-container .qualities .quality h3 {
  font-weight: normal;
  padding: 10px;
}
.about-container .qualities .quality p {
  text-align: center;
  max-width: 250px;
}
.hexagon {
  position: relative;
  width: 140px;
  height: 66.6px;
  background-color: #64c7cc;
  margin: 43.3px 0;
}
.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 43.3px solid #64c7cc;
}

.hexagon:after {
  top: 100%;
  right: 0%;
  width: 0;
  border-top: 43.3px solid #64c7cc;
}
.hexagon img {
  position: relative;
  left: 30px;
  bottom: 10px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
  max-width: 80%;
  text-align: center;
}
.about h3 {
  margin: 10px;
}
.about p {
  letter-spacing: 1px;
  max-width: 80%;
}
.aboutimage {
  width: 300px;
}
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
  background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
}
.skills {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 50px;
}
.skill {
  margin: 20px 0;
  position: relative;
  width: 80vw;
}
.skill-type {
  color: #fff;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 80vw;
}
.outer-bar,
.inner-bar {
  height: 15px;
}
.outer-bar {
  margin-top: 20px;
  background: #333;
}
.inner-bar {
  animation: fillBar 1s forwards 0s;
  transform: scaleX(0);
  transform-origin: 0 0;
}
.inner-bar span {
  position: relative;
  left: 100%;
  top: -3px;
  font-weight: 900;
  text-align: center;
  margin-left: 3px;
  opacity: 0;
  animation: opacity 0.05s forwards linear;
  animation-delay: 1s;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.inner-bar-90 {
  width: 90%;
  background: #f8a518;
  color: #f8a518;
}
.inner-bar-85 {
  width: 80%;
  background: rgb(3, 152, 238);
  color: rgb(3, 152, 238);
}
.inner-bar-75 {
  width: 75%;
  background: rgb(202, 3, 186);
  color: rgb(202, 3, 186);
}
.inner-bar-80 {
  width: 80%;
  background: rgb(120, 2, 238);
  color: rgb(120, 2, 238);
}
.inner-bar-60 {
  width: 60%;
  background: rgb(22, 175, 2);
  color: rgb(22, 175, 2);
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
.workcontainer {
  position: relative;
  top: 0px;
  padding-bottom: 30px;
  width: 100%;
  background: linear-gradient(to right, rgb(248, 24, 99), rgb(53, 248, 4));
}
.svg1 {
  position: relative;
  left: 0;
  top: -80px;
}
.work-text-container {
  position: relative;
  top: -40px;
}
.workcontainer .work-text {
  text-align: center;
  padding-top: -20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  color: #ffffff;
  margin: 10px 0px 50px 12vw;
  max-width: 80%;
}
.project {
  box-sizing: border-box;
  height: 350px;
  width: 300px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 4px 2px;
  box-shadow: -6px -6px 10px rgba(0, 0, 0, 1),
    inset -6px -6px 20px rgba(0, 0, 0, 0.1);
}
.project .front {
  opacity: 1;
  font-size: 23px;
}
.project .front .title {
  position: relative;
  padding: 5px 13px;
  font-weight: normal;
}
.projectimage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 210px;
  width: 300px;
}
.project .front .tech {
  padding: 0 13px;
}
.project .front .tech span{
  font-size: 19px;
  color: #fff;
}
.project .content {
  position: relative;
  top: -235px;
  max-width: 300px;
  padding: 10px;
  opacity: 0;
}
.project .content .title {
  position: relative;
  font-size: 28px;
  padding: 10px 0px;
  font-weight: lighter;
}
.project .content .description {
  position: relative;
  left: 10px;
  font-size: 20px;
  padding: 0px 30px 10px 0px;
}
.project .content button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: rgba(98, 226, 75, 0.822);
  color: white;
  outline: none;
  border: none;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.project .content button:active,.project .content button:hover{
  transform: scale(0.95);
  transition: 0.3s ease-in;
}
.project .content .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 10px;
}
.project .content .viewsourcecode {
  background-color: rgba(255, 8, 0, 0.794);
}
.blog-container{
  padding-bottom: 60px;
  width: 100%;
  background: linear-gradient(to right, rgb(248, 24, 99), rgb(53, 248, 4));
}
.blogs{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 60px 0px 50px 10vw;
}
.blog{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
  color: rgb(255, 255, 255);
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 1),
     6px -6px 20px rgba(0, 0, 0, 0.1);
}
.blogs a{
  text-decoration: none;
}
.blog img{
  width: 500px;
  height: 250px;
}
.blog .title{
  padding: 10px 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}
.blog p{
  padding: 5px 15px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.blog .simpleline{
  margin: 5px 15px;
  width: 80px;
  height: 4px;
  background: rgb(0, 0, 0);
  opacity: 0.8;
}
.blog .description{
  padding: 5px 15px 15px ;
  letter-spacing: 1px;
  color: #000;
  font-weight: normal;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 50px;
}
.contact-container i {
  position: relative;
  top: -20px;
  font-size: 20px;
  padding: 12px 10px;
  color: #aa3333;
  background: #ffffff;
}
.contact-container .line {
  color: #ffffff;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
form {
  height: 420px;
  width: 60vw;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.6), 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.contact-container .inputs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}
.contact-container .inputs input {
  background-color: transparent;
  border: #ffffff 0.1px solid;
  padding: 4px 10px;
  outline: none;
  margin-left: 30px;
  width: 170px;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.contact-container .inputs .name-input {
  margin-left: 25px;
}
.contact-container .inputs input:focus {
  width: 200px;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in;
}
.contact-container .textareainput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-container .textareainput textarea {
  height: 160px;
  width: 50vw;
  margin: 10px 20px 0px ;
  padding: 10px;
  color: white;
  font-size: 17px;
  outline: none;
  background-color: transparent;
  resize: none;
  border: 1px solid #ffffff;
}
.contact-container .submit {
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}
.submit-container{
  display:flex;
  flex-direction:column;
  align-items: center ;
  justify-content: center;
}
.onsubmit{
  width: 46vw;
  display:flex;
  align-items: center ;
  justify-content: space-between;
  background: #08a2b6;
  font-size: 15px;
  padding: 0px 10px;
  margin-top: -15px;
}

.onsubmit p {
  position: relative;
  float: right;
}
.onsubmit i{
  font-size: 20px;
  position: relative;
  top: 0px;
  background: transparent;
}
footer {
  width: 100%;
  background: #1b242f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 20px 0;
  color: #6b6b6b;
  letter-spacing: 1px;
}
.upwards {
  position: relative;
  font-size: 20px;
  padding: 10px;
  top: -60px;
  color: #1b242f;
  background: #ffffff;
  /* margin-bottom: 40px; */
}
footer .social-icons {
  position: relative;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-icons i {
  position: relative;
  font-size: 30px;
  margin: 10px;
  padding: 20px;
  background: #262f38;
  color: #ffffff;
  transition: 0.4s ease-out;
}
footer .social-icons a i:hover {
  color: #000000;
  background: #3cdce7;
  transform: scale(0.9);
  transition: 0.4s ease-out;
}
footer p {
  margin-top: 5px;
}
footer p span {
  color: #bb4141;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(255, 0, 0), #d3d923);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(#d3d923, #ff0000);
}

@media screen and (max-width: 865px) {
  .hamburger-conatiner {
    width: 100%;
    height: 70px;
  }
  .hamburger {
    position: absolute;
    float: right;
    right: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }
  .hamburger .line {
    position: absolute;
    height: 5px;
    width: 30px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.1s all linear 0.05s;
  }
  .hamburger .line::before,
  .hamburger .line::after {
    content: '';
    position: absolute;
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.1s all linear 0.1s;
    right: 0px;
  }
  .hamburger .line::before {
    transform: translateY(-10px);
    width: 45px;
  }
  .hamburger .line::after {
    transform: translateY(10px);
    width: 15px;
  }
  .hamburger.open .line {
    transform: translateX(10px);
    background: transparent;
  }
  .hamburger.open .line::before {
    transform: rotate(-45deg) translate(30px, 30px);
    width: 30px;
    right: 50px;
  }
  .hamburger.open .line::after {
    transform: rotate(45deg) translate(30px, -30px);
    width: 30px;
    right: 50px;
  }
  .nav-links.open {
    opacity: 1;
    transition: 0.3s all ease-in;
    clip-path: circle(500px at 50% 50%);
  }
  .nav-links {
    clip-path: circle(0px at 50% 50%);
    opacity: 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: -70px;
    height: 400px;
    transition: 0.3s all ease-in-out;
    background: linear-gradient(to left, #d3d923, rgb(255, 0, 0));
  }
  .intro {
    width: 100%;
    font-size: 15px;
    margin: 40px 0px 40px 8vw;
  }
  .intro .content span {
    font-size: 1.5em;
  }
  .intro .content .btn {
    padding: 5px 10px;
    font-size: 15px;
  }
  .about p {
    width: 100%;
  }
  .about-container .qualities {
    flex-direction: column;
  }
  .quality {
    margin-left: 10vw;
  }
  .inner-bar span {
    font-size: 13px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project {
    margin-bottom: 40px;
  }
  .image {
    height: 200px;
    width: 200px;
  }
  .blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 0;
  }
  .blog{
    width: 320px;
  }
  .blog img{
    width: 100%;
    height: 200px;
  }
  form {
    height: 400px;
    width: 90vw;
  }
  .contact-container .textareainput textarea {
    height: 160px;
    width: 70vw;
  }
  .onsubmit{
    width: 65vw;
  }
  .onsubmit p{
     font-size: 13px;
  }
  .onsubmit i{
    font-size: 15px;
  }
  footer .social-icons i {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
  }
}
